// RESET
@import './settings/reset';

// FONTS
@import './settings//fonts';


.border {
  border-bottom: 4px solid yellow;
}

.blue {
  background-color: aqua;
}

.green {
  background-color: green;
}